@page
@model Psiklet.Web.Pages.AmerikanModel
@{
}

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <h2>Amerikan Psikiyatri Derneği Hiperaktivite Ölçeği</h2>
                <p>
                    Çocuğun ebeveyni ve/veya sınıf öğretmenine yöneltilecek 20 soruyu içermektedir. ‘Evet’ cevabının fazla olması çocuğun hiperaktivite tanısını alma ihtimalini arttırmaktadır ancak burada uzmanın gözlemleri ve değerlendirmeleri tanı açısından esastır.
                </p>


            </div>
            <!-- End Main Column -->
        </div>
    </div>
</div>