@page
@model Psiklet.Web.Pages.BenderModel
@{
}

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <h2>Bender Gestalt Görsel Motor Algılama Testi</h2>
                <p>
                    5 yaş 6 ay ila 10 yaş 11 aylık çocuklara uygulanan görsel-motor algı testidir. Uzman tarafından çocuğa sırayla gösterilen 9 figürün mümkün olan en iyi şekilde boş bir kağıda kopya edilmesi istenir. Sonuçlar, resmin doğruluğu ile rotasyon, simetri, tekrar gibi kriterler açısından puanlanır.

                </p>


            </div>
            <!-- End Main Column -->
        </div>
    </div>
</div>