@page
@model Psiklet.Web.Pages.BireyselTerapiModel
@{
}

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2>Bireysel Terapi</h2>
                <div class="row">
                    <div class="col-md-6 animate fadeIn">
                        <img src="assets/img/fillers/aboutme.jpg" alt="about-me" class="margin-top-10">
                        @*<ul class="list-inline about-me-icons margin-vert-20">
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>*@
                    </div>
                    <div class="col-md-6 margin-bottom-10 animate fadeInRight">

                        <div class="clearfix"></div>

                        <p>
                            Bireysel yetişkin psikoterapi terapist ile danışanın birlikte yürüttüğü terapi sürecini ifade eder. Her bir bireyin hayat yolculuğunun farklı olması gibi terapiye başvurma sebebinin ardında yatan sebepte değişkenlik gösterebilir.
                        </p>
                        <p>
                            Danışan kendini daha iyi tanımak, içsel süreçlerini fark etmek, geçmiş yaşanmışlıklarının günümüze yansımasını kavrayabilmek gibi sebeplerle ya da var olan sorunlarıyla kendinin daha fazla başa çıkamadığını hissettiğinde, günlük işlerinin aksadığını, sorunlarının aile, okul, iş gibi alanlara yansıdığını fark ettiğinde de terapi sürecini başlatmak isteyebilir.
                        </p>
                        <p>
                            Bireysel yetişkin psikoterapi danışanların sorunlarıyla baş etmesine, kendinin derin katmanlarını keşfetmesine ve farkındalık kazanmasına, başkalarıyla olan iletişiminin güçlenmesine, duygusal dayanıklılık kazanmasına aracı olan süreç olarak özetlenebilir.
                        </p>

                    </div>


                </div>

                <hr />
                <div class="row">

                    <h2>Psikoterapi ile çalıştığımız başlıca alanlar</h2>


                    <div class="col-md-4">

                        <ul class="tick animate fadeInRight">
                            <li>Depresyon</li>
                            <li>Kaygılar </li>
                            <li>Fobiler</li>
                            <li>Panik bozukluk</li>
                            <li>Saplantı-zorlantı bozuklukları</li>
                            <li>Yeme bozuklukları</li>
                            <li>Özgüven eksikliği</li>
                        </ul>
                    </div>

                    <div class="col-md-4">

                        <ul class="tick animate fadeInRight">
                            <li>Değersizlik duyguları</li>
                            <li>Öfke problemleri</li>
                            <li>Stres yönetimi</li>
                            <li>Performans kaygısı</li>
                            <li>Zaman yönetimi</li>
                            <li>İletişim problemleri</li>
                            <li>Kariyer planlama ve oluşturmada destek</li>
                        </ul>
                    </div>

                    <div class="col-md-4">

                        <ul class="tick animate fadeInRight">
                            <li>Farkındalık kazanma</li>
                            <li>Uyku problemleri </li>
                            <li>Travma ile baş etme</li>
                            <li>Kayıp ve yas</li>
                            <li>Ağrı ile yaşamak</li>
                            <li>Kanser psikolojisi (Psiko-onkoloji)</li>
                            <li>Bağımlılık (alkol, madde, nikotin gibi)</li>
                        </ul>
                    </div>

                    @*<ul class="tick animate fadeInRight">
                            <li>Depresyon</li>
                            <li>Kaygılar </li>
                            <li>Fobiler (Sosyal fobi, agorafobi, özgül fobi gibi)</li>
                            <li>Panik bozukluk</li>
                            <li>Saplantı-zorlantı bozuklukları (Obsesif kompulsif bozukluk)</li>
                            <li>Yeme bozuklukları</li>
                            <li>Özgüven eksikliği</li>
                            <li>Değersizlik duyguları</li>
                            <li>Öfke problemleri</li>
                            <li>Stres yönetimi</li>
                            <li>Performans kaygısı</li>
                            <li>Zaman yönetimi</li>
                            <li>İletişim problemleri</li>
                            <li>Kariyer planlama ve oluşturmada destek</li>
                            <li>Farkındalık kazanma</li>
                            <li>Uyku problemleri </li>
                            <li>Travma ile baş etme</li>
                            <li>Kayıp ve yas</li>
                            <li>Ağrı ile yaşamak</li>
                            <li>Kanser psikolojisi (Psiko-onkoloji)</li>
                            <li>Bağımlılık (alkol, madde, nikotin gibi)</li>

                        </ul>*@
                </div>
                <hr>


            </div>
        </div>
    </div>
</div>