@page
@model Psiklet.Web.Pages.CatelModel
@{
}

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <h2>Catel 2A Zeka Testi</h2>
                <p>
                    4 alt testten oluşan ve yalnızca görsel ögeler içeren bu test, performansa dayalı bir zeka testidir. 7 yaş 6 ay ila 14 yaş arasındaki çocuklara uygulanabilen bu test tamamen görsel olması dolayısıyla tüm kültürlerde kullanılabilmektedir.
                </p>


            </div>
            <!-- End Main Column -->
        </div>
    </div>
</div>