@page
@model Psiklet.Web.Pages.CiftAileTerapisiModel
@{
}


<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2>Çift ve Aile Terapisi</h2>
                <div class="row">
                    <div class="col-md-6 animate fadeIn">
                        <img src="assets/img/fillers/aboutme.jpg" alt="about-me" class="margin-top-10">
                        @*<ul class="list-inline about-me-icons margin-vert-20">
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>*@
                    </div>
                    <div class="col-md-6 margin-bottom-10 animate fadeInRight">

                        <div class="clearfix"></div>

                        <p>
                            Çiftler belli bir süredir devam eden, kendilerinin çözemediği çatışmalar sonucu çift terapisine başvurmaktadırlar. Çift terapisi, çiftler arasında yaşanan sorun ve sıkıntıların ele alındığı, iletişim becerilerinin sağlıklı forma getirildiği, tekrarlayan sorun ve sıkıntılarla baş etme stratejisi geliştirildiği, çatışmaların çözüldüğü bir terapi yöntemidir. Terapi süreci boyunca terapist danışanlara çift ve de bireysel olarak seans yapabilmektedir. Terapide çiftlerin karşılıklı olarak ilişkiden aldıkları doyumun ve yaşam kalitelerinin arttırılması hedeflenir.
                        </p>

                        <p>
                            Aile terapisi aile üyelerinin birbirleriyle olan etkileşimlerini, rollerini, sınırlarını inceleyerek sorunlu ilişkilerin geliştirilmesine ve bir dengeye ulaşmasına yardımcı olur. Evlilik, finansal sorunlar, ebeveynlerle çocuklar arasındaki çatışmalar ya da psikolojik bir rahatsızlığın tüm aile üzerindeki etkisi gibi konular başlıca çalışma konularındandır. Aile terapilerinde seanslar genellikle birkaç aile üyesinin bir araya gelmesiyle sürdürülse de bir aile üyesi ile de seans planlanabilir.
                        </p>


                    </div>


                </div>

                <hr>


            </div>
        </div>
    </div>
</div>
