@page
@model Psiklet.Web.Pages.CocukErgenTerapisiModel
@{
}


<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2>Çocuk ve Ergen Terapisi</h2>
                <div class="row">
                    <div class="col-md-6 animate fadeIn">
                        <img src="assets/img/fillers/aboutme.jpg" alt="about-me" class="margin-top-10">
                        @*<ul class="list-inline about-me-icons margin-vert-20">
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>*@
                    </div>
                    <div class="col-md-6 margin-bottom-10 animate fadeInRight">

                        <div class="clearfix"></div>

                        <p>
                            Çocukluk ve ergenlik dönemi bilişsel, duygusal, sosyal ve fiziksel açıdan gelişimin çok hızlı yaşandığı ve bu hızlı değişime uyum sağlanması gereken bir dönemdir. Bu uyum sağlama sürecinde karşılaşılan bazı zorluklar çocuklar ve ergenlerde duygusal, bilişsel ya da davranışsal açıdan problemler yaşanmasına sebep olabilmektedir. Çocuk- ergen terapisi ile ideal büyüme ve gelişimi sürdürme hedeflenir ve yaşanan problemler aileyi de sürece dahil ederek ele alınır. İlk seanstan itibaren seanslar ebeveynlerin de katılımını içerecek şekilde düzenlenir. Ev ortamının ve ailenin yeniden yapılandırılması terapi sürecinden verim alınmasına önemli bir katkıda sağlamaktadır.
                        </p>
                        

                    </div>

                   
                </div>
                
                <hr>


            </div>
        </div>
    </div>
</div>