@page
@model Psiklet.Web.Pages.EMDRModel
@{
}


<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2>EMDR</h2>
                <div class="row">
                    <div class="col-md-6 animate fadeIn">
                        <img src="assets/img/fillers/aboutme.jpg" alt="about-me" class="margin-top-10">
                        @*<ul class="list-inline about-me-icons margin-vert-20">
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>*@
                    </div>
                    <div class="col-md-6 margin-bottom-10 animate fadeInRight">

                        <div class="clearfix"></div>

                        <p>
                            Beynimiz yaşadığımız deneyimleri; duygu, düşünce, duyum, koku gibi farklı bilgi kanalları aracılığı ile işleyerek anı ağlarımıza ekler. Bu, beynin adaptif bilgi işleme modeli olarak bilinmektedir ve deneyimin işlenmesi öğrenme ile sonuçlanır. Kişiler; olumsuz (çocukken maruz kalınan aşağılanma, ihmal gibi durumlar) ya da travmatik (trafik kazası, taciz, tecavüz, deprem vb.) deneyimlerle karşılaştıklarında ise beyin topladığı bilgileri birbirine entegre edememekte ve bunun sonucu olarak da bu anı beyin tarafından işlenememektedir.
                        </p>
                        <p>
                            EMDR (göz hareketleriyle duyarsızlaştırma ve yeniden işleme) bu işlenmeden kalmış anıların işlenmesine imkân vererek, travmatik ya da olumsuz anının kişide yarattığı rahatsızlık, dehşet duygusu ve olumsuz düşünce kalıplarını ortadan kaldırmayı amaçlar. Sonrasında ise olumlu düşünce ve duyumlar, öğrenme sürecinde dâhil edilerek pekiştirilir. Bu sayede ruh halinde kalıcı, olumlu bir değişimin meydana gelmesi hedeflenir.

                        </p>
                        <p>
                            Görüşme ve değerlendirmeyi içeren ilk seansların ardından genellikle duyarsızlaştırma adı verilen anı işleme sürecine geçilir ve bu noktada danışana beynin bilgi işleme sistemini esas alan çift yönlü uyarım verilir. Burada uyaran görsel (parmağın takibi), işitsel (kulaklıktan verilen ses) ya da dokunsal (omuzlara ya da dize yavaşça vurulması) olabileceği gibi birden fazla uyaranın bir arada verilmesi de tercih edilebilir.
                        </p>
                        <p>
                            Kısa süreli terapilerden olan EMDR’ın etkinliği son dönemde birçok bilimsel çalışma tarafından desteklenmiştir.

                        </p>





                    </div>


                </div>

                <hr>


            </div>
        </div>
    </div>
</div>
