@page
@model Psiklet.Web.Pages.GoodEnoughModel
@{
}

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <h2>Goodenough Harris İnsan Çiz Testi</h2>
                <p>
                    4-14 yaş arası çocuklara uygulanabilen bir zekâ testidir. Çocuktan bir insan resmi çizmesi istenir ve resim; ögelerin çiziliş sırası, resmin sayfadaki konumu, silip yeniden yapılan ögeler, ihmal edilen ya da abartılan ögeler gibi kriterlere bakılarak puanlanır. Ancak değerlendirmenin önemli bir parçasını da testi yapan uzmanın gözlem ve çocuğa yönelttiği sorular oluşturur. Tüm bu değerlendirme ile birlikte çocuğun zekâ puanının hesaplanması mümkün olur.

                </p>


            </div>
            <!-- End Main Column -->
        </div>
    </div>
</div>