@page
@model Psiklet.Web.Pages.HikayemizModel
@{
}

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <h2>Hikayemiz</h2>
                <p>
                    İnsanın dünyadaki yolculuğunda her durağın bir adı var: mutluluk durağı, mutsuzluk durağı, gülümseme durağı, gözyaşı durağı, özlemek, kavuşmak, kaybetmek, bulmak durağı…
                    Hiçbir durakta sonsuza kadar kalamıyoruz, aslolan yolda olmak
                    ve yoldayken dengede duramazsak düşeriz.
                    psiklet bu yüzden yola çıktı.
                    İki teker üstünde özgürlüğü soluduğumuz, yüzümüze vuran rüzgarla varlığımızı hissettiğimiz bisikletten ilhamla etrafımızdaki canlı cansız her şeyden birşeyler öğrenilebileceğine inanan bir anlayışla…
                </p>
                <p>
                    Tüm kültürlerde, tüm inanışlarda, kimyada, fizikte, uyurken, beslenirken hemen hemen her yerde karşımıza çıkan “denge” kavramı elbette psikolojik sağlığımızın da en önemli göstergelerinden biridir.
                    Bu sebeple, temel prensibi dengede durabilmek olan bisiklet ile davranışı ve zihni, yani dışımızı ve içimizi inceleyen psikoloji bir araya geldi ve ortaya “psiklet” çıktı.
                </p>

                <p>
                    psikletin pedalında tutkularımız, hırslarımız, motivasyonumuz var.
                    psikletin direksiyonunda kararlarımız, isteklerimiz, seçeneklerimiz, kurallar var.
                    psikletin selesinde geçmişimiz, sırlarımız, anlatamadıklarımız, unuttuklarımız, unutmak istediklerimiz var.
                    psiklette biz varız, siz varsınız, yoldayız.
                </p>
                <p>
                    Duraklarda görüşmek üzere…
                </p>
            </div>
            <!-- End Main Column -->
        </div>
    </div>
</div>