@page
@model Psiklet.Web.Pages.KentModel
@{
}

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <h2>Kent E.G.Y Testi</h2>
                <p>
                    Bilgi ve akıl yürütme soruları ile sözel performansı ölçen bir zeka testidir. 6-14 yaş arası çocuklara uygulanır ve çocuğun kendisine yöneltilen 10 sorudan oluşan toplam puanına göre değerlendirme yapılır.

                </p>


            </div>
            <!-- End Main Column -->
        </div>
    </div>
</div>