@page
@model Psiklet.Web.Pages.LuisaModel
@{
}

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <h2>Luisa Duss Psikanalitik Öykü Tamamlama Testi</h2>
                <p>
                    Çocukların içsel dünyalarındaki çatışma ya da olayları daha iyi kavrayabilmek amacıyla uygulanan projektif bir testtir. Uzman tarafından çocuğun kişiliği ya da yaşadığı soruna özel olarak seçilmiş yarım bırakılan hikâyenin, çocuk tarafından tamamlanması istenir. Burada amaç, çocuğun hikâyedeki başkarakterle kendini özdeşleştirerek, bilinçdışı durumları ya da sorunları ilgili daha fazla bilgiyi açığa çıkarmasıdır.

                </p>


            </div>
            <!-- End Main Column -->
        </div>
    </div>
</div>