@page
@model Psiklet.Web.Pages.MetropolitanModel
@{
}

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <h2>Metropolitan Okul Olgunluğu Testi</h2>
                <p>
                    Çocuğun gelişimsel açıdan okul için yeterli olgunluğa ulaşıp ulaşmadığını ölçen bu test; kelime anlama, cümleler, genel bilgi, eşleştirme, sayılar, kopya etme şeklinde sıralanabilecek 6 alt testten oluşur. Test, 5 yaş 6 ay ila 6 yaşındaki çocuklara bir uzman tarafından uygulanmaktadır.
                </p>


            </div>
            <!-- End Main Column -->
        </div>
    </div>
</div>