@page
@model Psiklet.Web.Pages.MMPIModel
@{
}

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <h2>MINNESOTA ÇOK YÖNLÜ KİŞİLİK ENVANTERİ (MMPI)</h2>
                <p>
                    Minnesota Çok Yönlü Kişilik Envanteri (MMPI), ruh sağlığı alanında yaygın olarak kullanılan, en güvenilir testlerden biridir ve bireyin kişisel ve toplumsal uyumunu objektif olarak ölçmeyi amaçlar. Uygulanan kişinin hem kişilik özelliklerini hem de psikopatolojisini objektif ve bilimsel kriterler kullanarak ortaya çıkarır. Bu özelliklerinden dolayı uygulama alanı oldukça geniştir. Psikolojik şikayetleri olanlar için ayırıcı tanı, tedavi planı oluşturması için uygulanmasının yanı sıra evlenmeyi düşünen çiftlerin birbirine kişilik olarak uygun olup olmadığını belirlemekte ya da işe alımlarda işe uygunluğu belirlemekte de kullanılabilmektedir.
                </p>
                <p>
                    MMPI envanteri, 16 yaş üstü ve orta eğitim seviyesi üzerindeki her bireye uygulanabilir. 560 sorudan oluşan bu  kağıt-kalem testinin uygulama süresi kişiye göre değişmekle birlikte yaklaşık 60-90 dk arasıdır. Bireysel ya da grup şeklinde uygulanabilir.
                </p>

            </div>
            <!-- End Main Column -->
        </div>
    </div>
</div>