@page
@model Psiklet.Web.Pages.OnlineTerapiModel
@{
}



<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2>Online Terapi</h2>
                <div class="row">
                    <div class="col-md-6 animate fadeIn">
                        <img src="assets/img/fillers/aboutme.jpg" alt="about-me" class="margin-top-10">
                        @*<ul class="list-inline about-me-icons margin-vert-20">
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>*@
                    </div>
                    <div class="col-md-6 margin-bottom-10 animate fadeInRight">

                        <div class="clearfix"></div>

                        <p>
                            Teknolojinin hızla gelişmesi, internetin yaygınlaşması hayatımızı değiştirdiği gibi psikoterapi dünyasında da çeşitli uygulamaların gelişmesine olanak sağladı. Web üzerinden çeşitli uygulamalarla yüz yüze görüşmenin kolaylaşması danışan ve terapistin online görüşerek psikoterapi hizmeti vermesini kolaylaştırdı.
                        </p>
                        <p>
                            Peki online terapi Nedir?
                        </p>

                        <p>
                            Online terapi diğer bir deyişle e-terapi, çeşitli sebeplerden ötürü yüz yüze görüşme sağlanamadığı durumlarda danışana web üzerinden sesli ve görüntülü psikoterapi hizmeti sağlanmasıdır.  Görüşmeler genellikle Skype üzerinden gerçekleştirilir ve seansa katılmak için internet bağlantısının, bilgisayarın ya da cep telefonun olması yeterlidir. Yüz yüze terapide olduğu gibi seans süresi 50 dakikadır. Günümüzde hem dünyada hem ülkemizde sıklıkla uygulanmaktadır.
                        </p>

                        <p>
                            Peki, neden online terapiyi tercih etmeliyim?
                        </p>
                        <p>
                            Pandeminin ortaya çıkışıyla birlikte danışan ve terapistin sağlığını korumak amacıyla online terapi daha çok tercih edilir hale gelmiştir. Ancak bunun dışında online terapi zaman ve mesafe açısından da pek çok kolaylık sağlamaktadır. Online terapi için terapistinizin ofisine gitmenize, yolculuk için zaman ayırmanıza gerek yoktur. Gizliliğin sağlanabileceği, kendinizi güvende hissedeceğiniz her yerde seansları gerçekleştirebilirsiniz. Bununla birlikte, danışanlar bazen yaşadıkları şehirde ya da ülkede ihtiyaç duydukları konuda uzmanlaşmış psikoterapist bulmakta güçlük çekerler. Bu noktada online terapi danışan için psikoterapi desteği alma konusunda ulaşılabilir seçeneklerin artmasına yardımcı olur. Yurtdışında yaşayan ve ana dilinde terapi desteği almak isteyenler için de oldukça pratiktir. Öte yandan yapılan araştırmalar birçok ruh sağlığı probleminde online terapi ile yüz yüze terapi arasında bir fark olmadığını göstermektedir.
                        </p>

                        <p>
                            Online terapi herkes için uygun mudur?
                        </p>
                        <p>
                            Online terapi yöntemi pek çok ruh sağlığı probleminde ve danışanda uygulanabilir olsa da birtakım kısıtlılıkları da bulunmaktadır. İntihar düşünceleri olanlar, halüsinasyon ya da sanrıları olanlar ya da herhangi bir psikiyatrik bozukluğunu çok yoğun yaşayanlar için web üzerinden krize müdahale zorlaştığı için online terapi uygun değildir.

                        </p>




                    </div>


                </div>

                <hr>


            </div>
        </div>
    </div>
</div>
