@page
@model Psiklet.Web.Pages.PorteusModel
@{
}

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <h2>Porteus Labirentleri Zekâ Testi</h2>
                <p>
                    Özellikle planlama yeteneğinin ölçümüne odaklanan ve 7-14 yaş arası çocuklara uygulanabilen bir zekâ testidir. Test git gide zorlaşan 12 adet labirent çizimini içerir ve çocuktan kalemi başlangıç noktasına koyarak labirentten çıkana kadar çizgi çizmeye devam etmesi istenir. Çocuğun, labirentin sınırlarını belirten çizgilerin üstünden çizgi çizmesi veya testi yarım bırakması halinde yardım edilir ya da tekrar şansı verilir. Çocuk, üst üste 2 denemede başarısız olduğunda test durdurulur.

                </p>


            </div>
            <!-- End Main Column -->
        </div>
    </div>
</div>