@page
@model Psiklet.Web.Pages.RorchachModel
@{
}

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <h2>Rorchach Testi</h2>
                <p>
                    Rorschach Testi her biri birbirinden farklı 10 karttan oluşan projektif bir testtir. Kartlar mürekkep lekelerinden oluştuğundan bilinen diğer adı ile Mürekkep Lekeleri testidir. Kartlar gösterildiğinde, kartların danışanda ne/neler çağrıştırdığı anlatılması istenir. Doğru ya da yanlış cevap yoktur. Herhangi bir süre sınırlaması da yoktur. Kartlar terapist ile danışan arasında köprü görevi görür. Danışanın iç dünyası, içsel yaşantıları, algılayış biçimi, hayal dünyası ve nasıl anlam oluşturduğu gibi bilgileri anlamayı kolaylaştırır. Test herkese aynı şekilde uygulanır. 7 yaşından itibaren herkese uygulanabilir. Fakat çocuk, ergen ve yetişkin grupları farklı değerlendirmelere alınır. Bu sebeple, alanında uzman kişilerin uygulaması gereklidir.
                </p>
                

            </div>
            <!-- End Main Column -->
        </div>
    </div>
</div>