@page
@model Psiklet.Web.Pages.SemaTerapisiModel
@{
}


<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2>Şema Terapi</h2>
                <div class="row">
                    <div class="col-md-6 animate fadeIn">
                        <img src="assets/img/fillers/aboutme.jpg" alt="about-me" class="margin-top-10">
                        @*<ul class="list-inline about-me-icons margin-vert-20">
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-dribbble"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-lg fa-border fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>*@
                    </div>
                    <div class="col-md-6 margin-bottom-10 animate fadeInRight">

                        <div class="clearfix"></div>

                        <p>
                            Şema terapi Jeffrey Young tarafından geliştirilen bir psikoterapi modelidir. Çocukluk itibariyle oluşmaya başlayan şemaların yetişkinlikteki yansımasını incelemektedir. Çocukluk yaşta tecrübe edilen olaylarla baş edebilmek için ortaya çıkan şemalar zamanla işlevsel olmayan düşünce ve davranışlarla kendini yetişkinlikte gösterebilir. Terapide ise; şemaların nasıl oluştuğunu ve günümüze olan yansımasını fark etmek en önemli odaktır. Akabinde şema terapinin kendi teknikleri ile çalışılır. Jeffrey Young’ın Şema Terapi modeline göre 18 şema vardır ve bu şemalar 5 şema alanı altında birleşmektedir. Şema terapinin ilk çıkış amacı değişime dirençli ve kişilik bozuklukları vakalarıdır. Ancak zamanla pek çok psikolojik problemi kapsayıcı olmuştur.
                        </p>
                        





                    </div>


                </div>

                <hr>


            </div>
        </div>
    </div>
</div>
