@page
@model Psiklet.Web.Pages.SssModel
@{
}

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <div class="col-md-12">
                <h2>Sıkça Sorulan Sorular</h2>
                
                <hr class="margin-vert-40">
                <div class="row">
                    <div class="col-md-8">
                        <div class="tab-content">
                            <div class="tab-pane active in fade" id="faq">
                                <div class="panel-group" id="accordion">
                                    <!-- FAQ Item -->
                                    <div class="panel panel-default panel-faq">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub">
                                                <h4 class="panel-title">
                                                    Klinik Psikolog Kimdir?
                                                    <span class="pull-right">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                    </span>
                                                </h4>
                                            </a>
                                        </div>
                                        <div id="faq-sub" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Klinik Psikolog; dört yıllık psikoloji lisans eğitimi üzerine Klinik Psikoloji Yüksek Lisans (veya Klinik Psikoloji Doktora) programını tamamlayan (4 yıl psikoloji lisans +2 yıl klinik psikoloji yüksek lisans formülü) kişidir.
                                                Amerikan Psikologlar Birliğinin (APA) Klinik Psikoloji birimine göre:
                                                Klinik psikoloji uygulamaları bebeklikten yaşlılığa kadar tüm gelişimsel dönemlerdeki bireylere ya da gruplara (aile, benzer psikopatolojiye sahip bireylerin oluşturduğu gruplar ve organizasyonlar) yönelik değerlendirme ve müdahale yöntemlerini kapsar.

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End FAQ Item -->
                                    <!-- Faq Item -->
                                    <div class="panel panel-default panel-faq">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-2">
                                                <h4 class="panel-title">
                                                    Danışanlar Olarak Haklarınız Nelerdir?
                                                    <span class="pull-right">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                    </span>
                                                </h4>
                                            </a>
                                        </div>
                                        <div id="faq-sub-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ol>
                                                    <li>Psikoterapi sürecinizde terapistinizle paylaştığınız hiçbir şey seans odasının dışına çıkmayacaktır. Gizlilik esasının bozulmasının tek istisnası danışanın birine zarar verme veya da zarar görme durumunda gerçekleşir. Terapistiniz zarar görme/zarar verme durumu oluştuğu takdirde bu durumu yetkili mercilerle paylaşmak durumundadır. Bunun sebebi yine danışanları korumaktır.</li>
                                                    <li>Terapi süreciniz boyunca kimlik bilgilerinizin gizli tutulması esastır. Fakat terapistiniz gerekli gördüğü takdirde kimlik bilgilerinizi gizli tutarak bilgilerinizi meslektaşlarıyla paylaşabilir.</li>
                                                    <li>Terapistinizin eğitimleri, yetkinlikleri, deneyimleri ve de çalışma yöntemleri hakkında sorular sorabilirsiniz.</li>
                                                    <li>İstediğiniz zaman terapistinizle bu durumu paylaştıktan sonra seanslarınızı sonlandırma hakkına sahipsiniz.</li>
                                                    <li>Terapistinizi değiştirmeyi talep edebilirsiniz.</li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End FAQ Item -->
                                    <!-- Faq Item -->
                                    <div class="panel panel-default panel-faq">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-3">
                                                <h4 class="panel-title">
                                                    Seanslar kaç dakika sürmektedir?
                                                    <span class="pull-right">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                    </span>
                                                </h4>
                                            </a>
                                        </div>
                                        <div id="faq-sub-3" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Bireysel psikoterapi seansların süresi 50 dakika sürmektedir. Terapistin uygulayacağı terapi ekolüne göre bu sürede değişiklikler olabilir. Bu durumda terapist danışanı bilgilendirmekle yükümlüdür.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End FAQ Item -->
                                    <!-- Faq Item -->
                                    <div class="panel panel-default panel-faq">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-4">
                                                <h4 class="panel-title">
                                                    Ne Sıklıkla Seans Yapılır?
                                                    <span class="pull-right">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                    </span>
                                                </h4>
                                            </a>
                                        </div>
                                        <div id="faq-sub-4" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Psikoterapi seansları haftada bir yapılacak şekilde, gün ve saati danışan ile birlikte belirlenir. Terapinin ilerleyen aşamalarında seanslar iki haftada veya ayda bir olarak yine danışanın terapideki ilerleyişine göre yapılabilmektedir.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End FAQ Item -->
                                    <!-- Faq Item -->
                                    <div class="panel panel-default panel-faq">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-5">
                                                <h4 class="panel-title">
                                                    Neden Online Terapi?
                                                    <span class="pull-right">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                    </span>
                                                </h4>
                                            </a>
                                        </div>
                                        <div id="faq-sub-5" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Online terapi pandemi sürecinin de kendini göstermesiyle daha fazla gündeme gelmeye başlamıştır. Araştırmalara göre, online terapi yüz yüze terapi kadar etkilidir. Ayrıca yüz yüze terapiye kıyasla, salgın sürecinde riski azaltma, zamandan tasarruf ve dünyanın neresinde olursanız olun terapi imkânı sağlamak gibi avantajları vardır.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End FAQ Item -->
                                    <!-- Faq Item -->
                                    <div class="panel panel-default panel-faq">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-6">
                                                <h4 class="panel-title">
                                                    Terapiye ihtiyacım olduğunu nasıl anlayacağım?
                                                    <span class="pull-right">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                    </span>
                                                </h4>
                                            </a>
                                        </div>
                                        <div id="faq-sub-6" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Kendinizi daha iyi tanımak, içsel süreçlerinizi fark etmek, geçmiş yaşanmışlıklarınızın günümüze yansımasını kavrayabilmek gibi sebeplerle de psikoterapi sürecinizi başlatabilirsiniz. Bunların yanı sıra, sorunlarınızla kendinizin daha fazla başa çıkamadığınızı hissettiğinizde, günlük işlerinizin aksadığını, sorunlarınızın aile, okul, iş gibi alanlara yansıdığını fark ettiğinizde de terapi sürecinizi başlatmak isteyebilirsiniz.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End FAQ Item -->
                                    <!-- Faq Item -->
                                    <div class="panel panel-default panel-faq">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#faq-sub-7">
                                                <h4 class="panel-title">
                                                    Kaç seans almam gerekiyor?
                                                    <span class="pull-right">
                                                        <i class="glyphicon glyphicon-plus"></i>
                                                    </span>
                                                </h4>
                                            </a>
                                        </div>
                                        <div id="faq-sub-7" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                Herkesin bireysel yolculuğu kendine özel olduğu için, psikoterapi sürecinin kaç seans süreceğini söylemek mümkün olmadığı gibi bir rakam vermek etik de değildir.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End FAQ Item -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3 class="margin-bottom-10">Could not find the answer?</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in mauris tempor purus accumsan dignissim. Morbi risus nisl, adipiscing vel sagittis sit amet, condimentum vitae lectus. Pellentesque nec eros nulla. Vivamus
                            nec ligula dolor. In facilisis suscipit gravida. Nunc malesuada.
                        </p>
                        <button type="button" class="btn btn-primary btn-sm">ASK A QUESTION</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>