@page
@model Psiklet.Web.Pages.TatModel
@{
}


<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <h2>Tematik Algı Testi</h2>
                <p>
                    Tematik Algı Testi (TAT) tıpkı Rorschach Testi gibi projektif bir testtir. Rorschach Testine tamamlayıcı görev görebileceği gibi ayrıca da kullanılabilir. Rorschach Testinin soyut mürekkep lekelerinin aksine her bir karttaki resim somut ve anlaşılırdır. Kendini ifade etmekte zorlanan danışanların iç dünyasının keşfedilmesinde aracı rolü görür. Danışanların kişilerarası ilişki dinamikleri, evlilik ve aile ilişkileri, baş etme mekanizmaları, sorunları nasıl ele aldığı gibi konular hakkında ipuçları verir.

                </p>


            </div>
            <!-- End Main Column -->
        </div>
    </div>
</div>