@page
@model Psiklet.Web.Pages.Wisc4Model
@{
}

<div id="content">
    <div class="container background-white">
        <div class="row margin-vert-30">
            <!-- Main Column -->
            <div class="col-md-12">
                <h2>Wechsler Çocuklar için Zeka Ölçeği-IV (WISC-4)</h2>
                <p>
                    Wechsler Çocuklar için Zeka Ölçeği-IV (WISC-4) 6 yaş 0 ay-16 yaş 11 ay yaşlarındaki çocuklar için tasarlanmış en kapsamlı ve güvenilir zeka testidir. Türkiye’de zeka testinin en güncel versiyonu bu testtir. Test “Sözel Kavrama”, “Algısal Akıl Yürütme”, “Çalışma Belleği”, ve “İşlemleme Hızı” beceri gruplarını ölçen 10 alt test, 5 tane de yedek test barındırmaktadır. Testin uygulanması ortalama 90 dakika sürmektedir. Testin zeka seviyesini belirlemesinin yanı sıra, çocukta öğrenme, anlama ve algılama güçlüğü, dikkat eksikliği ve hiperaktivite, uyum problemleri gibi konularda ipucu sağlar. Ayrıca çocuğun yetenekleri ve de zayıf alanları da yine WISC-4 ile raporlanır.
                    Alanda bilinen bir diğer zeka testi olan WISC-R testi 1974 yılının Türkiye normlarına göre hazırlandığından günümüzde artık geçerliliğini yitirmiştir. Eğer çocuğa önce WISC-R uygulanmışsa, WISC-4’ün uygulanabilmesi için 4 ay süre geçmesi yeterlidir. WISC-4’ün tekrar uygulanabilmesi için ise aradan 1 yılın geçmesi gerekir.

                </p>


            </div>
            <!-- End Main Column -->
        </div>
    </div>
</div>